## Data Cleaning

First import necessary packages for cleaning and anything else that is needed.

In [1]:
import pandas as pd
import numpy as np
import os
from pandasql import sqldf

pysqldf = lambda q: sqldf(q, globals())
pd.set_option('display.max_rows', 500)

Loading data into dataframes

In [2]:
Bommoviegross = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')
BomGross = pd.DataFrame(Bommoviegross)

imdbname = pd.read_csv('./zippedData/imdb.name.basics.csv.gz')
imdbName = pd.DataFrame(imdbname)

imdbtitlea = pd.read_csv('./zippedData/imdb.title.akas.csv.gz')
imdbTitleAkas = pd.DataFrame(imdbtitlea)

imdbtitleb = pd.read_csv('./zippedData/imdb.title.basics.csv.gz')
imdbTitleBasic = pd.DataFrame(imdbtitleb)

imdbtitlec = pd.read_csv('./zippedData/imdb.title.crew.csv.gz')
imdbTitleCrew = pd.DataFrame(imdbtitlec)

imdbtitlep = pd.read_csv('./zippedData/imdb.title.principals.csv.gz')
imdbTitlePrin = pd.DataFrame(imdbtitlep)

imdbtitler = pd.read_csv('./zippedData/imdb.title.ratings.csv.gz')
imdbTitleRat = pd.DataFrame(imdbtitler)

rtmov = pd.read_csv('./zippedData/rt.movie_info.tsv.gz', sep='\t')
rtmovie = pd.DataFrame(rtmov)

rtrev = pd.read_csv('./zippedData/rt.reviews.tsv.gz', sep='\t', encoding= 'unicode_escape')
rtreview = pd.DataFrame(rtrev)

tmdb = pd.read_csv('./zippedData/tmdb.movies.csv.gz')
tmdbmov = pd.DataFrame(tmdb)

tnm = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')
tnmmov = pd.DataFrame(tnm)

In [3]:
#Joining imdb tables to make a master table
q = '''SELECT *
       FROM imdbTitleBasic
       LEFT JOIN imdbTitleRat
       USING (tconst)
       Left JOIN imdbTitleCrew
       USING (tconst)
       ;
    '''
imdbMaster = pysqldf(q)

#cleaning up directors and writers columns, putting in the actual names for imdbMaster table
imdbMaster['directors'] = imdbMaster['directors'].astype(str)
imdbMaster['writers'] = imdbMaster['writers'].astype(str)
imdbMaster['directors'] = imdbMaster['directors'].map(lambda x: x.split(','))
imdbMaster['writers'] = imdbMaster['writers'].map(lambda x: x.split(','))
All_names = imdbName.set_index('nconst')['primary_name'].to_dict()
DirectorNamesList = []
for entry in imdbMaster['directors']:
    DirectorNamesList.append([All_names.get(item,item) for item in entry])
imdbMaster['Director_Names'] = DirectorNamesList
WritersNamesList = []
for entry in imdbMaster['writers']:
    WritersNamesList.append([All_names.get(item,item) for item in entry])
imdbMaster['Writers_Names'] = WritersNamesList

In [4]:
#Cleaning up tnmfile

#Dropping columns with $0 for domestic_gross and worldwide_gross (only 367 out of 5782 data entries: ~5%)
df_to_drop1 = tnmmov.loc[(tnmmov['domestic_gross'] == '$0') & (tnmmov['worldwide_gross'] == '$0')] #throw these out
newtnm = pd.concat([tnmmov,df_to_drop1]).drop_duplicates(keep=False)

#Making production_budget, domestic_gross and worldwide_gross values to int instead of string
newtnm['production_budget'] = newtnm.production_budget.map(lambda x: int(x.replace('$','').replace(',','')))
newtnm['domestic_gross'] = newtnm.domestic_gross.map(lambda x: int(x.replace('$','').replace(',','')))
newtnm['worldwide_gross'] = newtnm.worldwide_gross.map(lambda x: int(x.replace('$','').replace(',','')))

#Dec 31 is a placeholder date (only 74 entries, lets throw out instead of looking up each movie date)
#Total thrown out is 7.62% of original data
#Lets make the release dates month/year and take out the days
df_to_drop2 = newtnm[newtnm.release_date.map(lambda x: x.startswith('Dec 31,'))]
newtnmForDateComp = pd.concat([newtnm,df_to_drop2]).drop_duplicates(keep=False)

In [ ]:
print(len(tnmmov))
print(len(newtnm))
print(len(df_to_drop1))
print(len(df_to_drop2))

In [5]:
test = newtnm[newtnm.release_date.map(lambda x: x.startswith('Dec 31,'))]
len(test)

74

In [6]:
test

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
576,77,"Dec 31, 1999",Fantasia 2000 (Theatrical Release),80000000,69610858,69618634
617,18,"Dec 31, 2012",AstÃ©rix et ObÃ©lix: Au service de Sa MajestÃ©,77600000,0,60680125
1250,51,"Dec 31, 2010",Arthur and the War of Two Worlds,45500000,347136,36180824
1325,26,"Dec 31, 2012",Foodfight!,45000000,0,73706
1367,68,"Dec 31, 2006",Les BronzÃ©s 3: amis pour la vie,42000000,0,83833602
1368,69,"Dec 31, 2015",Pourquoi j'ai pas mangÃ© mon pÃ¨re,42000000,0,15451663
1540,41,"Dec 31, 2014",Dragon Nest Warriors' Dawn,40000000,0,734423
1603,4,"Dec 31, 2009",Obitaemyy ostrov,36500000,0,15000000
2006,7,"Dec 31, 2010",Konferenz der Tiere,30000000,0,53048539
2010,11,"Dec 31, 2013",Space Pirate Captain Harlock,30000000,0,310985
2026,27,"Dec 31, 2002",Confessions of a Dangerous Mind,29000000,16007718,33013805
2080,81,"Dec 31, 2007",Alatriste,28000000,0,22860477
2320,21,"Dec 31, 2010",Sammy's avonturen: De geheime doorgang,25000000,0,71594792
2321,22,"Dec 31, 2010",Belka i Strelka. Zvezdnye sobaki,25000000,0,9445081
2322,23,"Dec 31, 2017",Matilda,25000000,0,9370285
2365,66,"Dec 31, 2007",Flood,24000000,0,4084232
2451,52,"Dec 31, 2013",Metegol,22000000,0,34061097
2667,68,"Dec 31, 2014",A Most Violent Year,20000000,5749134,8846875
2706,7,"Dec 31, 2008",Admiral,20000000,0,38585047
2707,8,"Dec 31, 2012",Zambezia,20000000,0,34454336
2848,49,"Dec 31, 2008",I Come with the Rain,18000000,0,627422
2864,65,"Dec 31, 2007",Taxi 4,17500000,0,60865364
2925,26,"Dec 31, 2007",Arn - Tempelriddaren,16500000,0,21404122
2977,78,"Dec 31, 2008",Good,16000000,31631,31631
2981,82,"Dec 31, 2013",Zulu,16000000,0,1844228
3147,48,"Dec 31, 1996",Silent Trigger,15000000,76382,76382
3156,57,"Dec 31, 2015",Chiamatemi Francesco - Il papa della gente,15000000,0,3925769
3157,58,"Dec 31, 2008",Bathory,15000000,0,3436763
3159,60,"Dec 31, 2005",Dungeons & Dragons: Wrath of the Dragon God,15000000,0,909822
3231,32,"Dec 31, 2008",Ca$h,13700000,0,11738256
3332,33,"Dec 31, 1997",Oscar and Lucinda,12500000,1612957,1612957
3449,50,"Dec 31, 2015",San cheng ji,12000000,0,1950194
3450,51,"Dec 31, 2011",Tu Xia Chuan Qi,12000000,0,1828400
3528,29,"Dec 31, 1994",There Goes My Baby,10500000,125169,125169
3732,33,"Dec 31, 2010",The Reef,10000000,0,15037867
3766,67,"Dec 31, 2011",Red Dog,9100000,0,20927794
3767,68,"Dec 31, 2010",Mine Vaganti,9100000,0,18872126
3849,50,"Dec 31, 2017",Posledniy bogatyr,8500000,0,30700192
3936,37,"Dec 31, 2005",Welcome to Dongmakgol,8000000,0,48000000
3972,73,"Dec 31, 2001",The Hole,7500000,0,10834406
4064,65,"Dec 31, 2015",Geroy,7000000,0,1545121
4103,4,"Dec 31, 2011",Tracker,6500000,0,3149
4130,31,"Dec 31, 1946",Duel in the Sun,6000000,20400000,20400000
4383,84,"Dec 31, 2008",The Cottage,5000000,0,1504960
4461,62,"Dec 31, 2016",Airlift (2016),4400000,0,9969237
4553,54,"Dec 31, 2017",Perfectos Desconocidos,4000000,0,31166312
4554,55,"Dec 31, 2013",Geograf globus propil,4000000,0,4454853
4556,57,"Dec 31, 2003",Nothing,4000000,0,63180
4586,87,"Dec 31, 2017",UtÃ¸ya 22. juli,3600000,0,173156
4624,25,"Dec 31, 2011",The Kick,3500000,0,40622
4794,95,"Dec 31, 2015",Sardaar Ji,2700000,0,8200000
4795,96,"Dec 31, 2008",Rejsen til Saturn,2700000,0,5377665
4806,7,"Dec 31, 2011",La Cara Oculta,2600000,0,7033931
4855,56,"Dec 31, 2009",NiktÃ©,2400000,0,1333891
4875,76,"Dec 31, 2005",Chicken Tikka Masala,2160000,0,37865
4904,5,"Dec 31, 1986",Witchboard,2000000,7369373,7369373
4979,80,"Dec 31, 2015","To Be Frank, Sinatra at 100",2000000,0,926
5013,14,"Dec 31, 2015",Vaalu,1900000,0,12444
5055,56,"Dec 31, 1989",Out of the Dark,1600000,419428,419428
5153,54,"Dec 31, 2016",Bodom,1250000,0,726460
5179,80,"Dec 31, 2008",Extreme Movie,1200000,0,81338
5299,100,"Dec 31, 2013",Heli,1000000,0,552614
5300,1,"Dec 31, 2015",Karachi se Lahore,1000000,0,17721
5301,2,"Dec 31, 2006",Loving Annabelle,1000000,0,5382
5356,57,"Dec 31, 2009",Crying With Laughter,820000,0,16909
5383,84,"Dec 31, 2014",Destiny,750000,0,450
5403,4,"Dec 31, 2009",Starsuckers,640000,0,14812
5422,23,"Dec 31, 2015",Julija in alfa Romeo,560000,0,8462
5467,68,"Dec 31, 2006",Feng kuang de shi tou,500000,0,3000000
5469,70,"Dec 31, 2006",Griffin & Phoenix,500000,0,1355967
5652,53,"Dec 31, 2015",Lumea e a mea,168000,0,29678
5661,62,"Dec 31, 2013",Speak No Evil,150000,0,32927
5705,6,"Dec 31, 2011",Absentia,70000,0,8555
5776,77,"Dec 31, 2004",The Mongol King,7000,900,900

In [ ]:
BomGross.head()

In [ ]:
imdbTitlePrin.head()

In [ ]:
imdbMaster.head()